.checklist-header {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.checklist-wrapper {
    background-color: #9DA39A;
    margin: 40px auto;
    padding: 10px;
    width: 85%;
    border: 1px;
    border-style: solid;
    font-size: calc(7px + .8vw);
}

.checklist-select {
    font-size: calc(6px + .6vw);
}

.checklist {
    margin: 0 auto;
}

.checklist .list-item-left {
    text-align: left;
    padding: 10px 0px 10px 0px;
}

.checklist .list-item-right {
    text-align: right;
    padding: 10px 0px 10px 20px;
}

.submit-checklist {
    margin: 10px auto 10px auto;
    width: 200px;
    display: flex;
    justify-content: center;
    font-size: calc(7px + .8vw);
}

@media screen and (min-width: 480px) {
    .checklist-wrapper {
        width: 50%;
        margin: 80px auto;
    }
}
