.bordered {
  border-radius: 1px;
  border-style: solid;
}

.row {
  display: flex;
  margin-left: 0;
  margin-top: 10%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  width: 90%;
}

.no-width {
  width: auto;
}

.no-spacing {
  margin-top: 0;
}

.flex-down {
  flex-direction: column;
}

img {
  max-width: 100%;
}

.no-margin-left {
  margin-left: 0;
}

.grey {
  background: #9da39a; 
}

.smaller {
  margin-top: 3%;
}

.spacer1 {
  flex-grow: 1;
}

.spacer4 {
  flex-grow: 4;
}

span {
  display: none;
}

@media screen and (min-width: 480px) {
  span {
    display: inline;
  }
}