html {
    min-height: 100%;
    width: 100%;
    position: relative;
    background: #6b4e71;
    overflow-x: hidden;
}

body {
    position: absolute;
    min-height:100%;
    width:90%;
    left: 10%;
    overflow-y: auto;
    margin: 0;
    background: #70877f;
    overflow-x: hidden;
}
