
.form-wrapper {
  position: absolute;
  top:10%;
  left:10%;
  right:10%;
  width:80%;
  height:85%;
  padding-left: 5%;
  background: #9da39a;
}

h2 h3 {
  margin: 0;
  top: 20%;
  width: 100%;
  font-size: calc(7px + .8vw);
}

/* .bordered {
  border-radius: 1px;
  border-style: solid;
}
*/
.spacer1Contact {
  position: absolute;
  display: inline-block;
  width: 88%;
  height: 40%;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}
.chat-log {
  margin: 0;
  position: absolute;
  bottom: 10%;
  height: 90%;
  width: 100%;
  padding: 0;
}

#internal-list {
    padding: 0;
    max-height: 100%;
    top: 0;
    overflow: auto;
    width: 100%;
}

.flex-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column-reverse;
  background: #8c9289;
}

.otherMsg {
  list-style-type: none;
  padding-left: 10px;
  background: #d5dcd0;
  text-align: left;
  padding-right: 20px;
}

.userMsg {
  list-style-type: none;
  padding-left: 10px;
  background: #acbea3;
  text-align: right;
  padding-right: 20px;
}

.moreMargin {
  padding-top: 2%;
}

.chat-input {
  position: absolute;
  bottom: 0;
  height:10%;
  width: 100%;
}

#submit-button {
    position: absolute;
    right: 4%;
    width: 24%;
}

#input-field {
  width: 60%;
}



@media screen and (min-width: 480px) {

  #submit-button {
    position: absolute;
    width: 16%;
  }

  #input-field {
    width: 70%;
  }
}
