.Template {
  text-align: center;
}

.Template-logo {
  animation: Template-logo-spin infinite 20s linear;
  height: 80px;
}

.Template-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Template-title {
  font-size: 1.5em;
}

.Template-intro {
  font-size: large;
}

@keyframes Template-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
